@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

nav{
    padding: 0 24px;
}

/*

GENERAL STYLES

*/

button:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
}


li {
    list-style: none;
}

.red {
    color: #b60101;
}

.thick {
    font-weight: 700;
}

.container {
    padding: 96px 24px;
}

.container:first-child {
    padding-top: 0 ;
}

.row {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}



.border {
    border: 0.5px solid #A0AEBF;
    border-radius: 5px;
}

.w100{
    width: 100%;
}

@keyframes animate-sections-left-in{
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}


/*

About Head Styles

*/



/*

HEAD

*/

.head__image--container {
    width: 100%;
    height: 100vh;
    overflow: hidden;

}

.head__height {
    height: 80vh;
} 

.head__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.head__container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}




/*

NAVIGATION BAR STYLES

*/

nav {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    animation: animate-sections-left-in 500ms ease-in;
}


.info__container {
    display: flex;
    justify-content: space-between;
    margin-top: 14px;
}

.details__container{
    display: flex;
}

.info__details:first-child {
    margin-left: 0;
}   

.info__details {
    margin-left: 24px;
}

.nav__social--links {
    display: flex;
    gap: 24px;
    color: #b60101;
    transition: all 5s ease-in-out;
}

.social--link:hover {
    cursor: pointer;
    color: #eb0202;
    font-size: 20px;
}

.the__divide {
    width: 100%;
    height: 2px;
    background-color: #b60101;
    margin: 14px 0;
}

.nav__container {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo__container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.logo__wrapper {
    width: 40px;
    height: 40px;
}

.logo__text {
    font-size: 64px;
    font-weight: 900;
    color: #fff;
    letter-spacing: 0.5px;
    transition: all 300ms ease;
}

.logo__sub-text {
    color: white;
    font-size: 24px;
    font-weight: 200;
}

.logo__img {
    width: 100%;
    height: 100%;
}

.nav__link--list {
    display: flex;
}

.nav__link {
    margin: 0 24px;
}

.linky {
    color: #b60101;
}

.nav__link--anchor {
    color: #b60101;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.75px;
    padding-bottom: 2px;
    border-bottom: 0;
    transition: all 300ms ease;
}

.nav__link--anchor:hover {
    color: #eb0202;
    border-bottom: 2px solid #eb0202;
}

.nav__link:last-child {
    margin: 0;
}

.nav__link--primary {
    padding: 12px 32px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    background-color: #b60101;;
    border-radius: 50px;
    transition: all 300ms ease;
}

.nav__link--primary:hover {
    background-color: #eb0202;
    cursor: pointer;
}

.btn__menu {
  background-color: transparent;
  font-size: 40px;
  border: none;
  color: #B60100;
  display: none; 
}

.menu__backdrop {
  position: absolute;
  background-color: #B60100;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  transition: all 300ms ease;
  opacity: 0;
  transform: translateX(-100%);
  border-radius: 8px;
}

.menu--open {
  max-height: 100vh;
  overflow: hidden;
}

.menu--open .menu__backdrop {
  visibility: visible !important;
  opacity: 1;
  transform: translate(0);
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__list {
  padding: 32px 0;
}

.menu__link {
  color: white;
  font-size: 40px;
}

.btn__menu--close {
  position: absolute;
  top: 10px;
  right: 20px;
  padding: 8px;
  color: white;
}



/*

HEADER STYLES

*/

header{
    height: calc(100vh - 120px);
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.header__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: animate-sections-left-in 500ms ease-in;
}

.header__text__1 {
    font-size: 48px;
    font-weight: 200;
    color: #fff;
    margin-top: 84px;
}

.header__text__2 {
    font-size: 96px;
    font-weight: 200;
    color: #fff;
    margin: 24px 0;
}

.header__button {
    padding: 20px 48px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    color: white;
    background-color: #b60101;
    transition: 300ms  ease;
}

.header__button:hover {
    background-color: #eb0202;
}

/*

Features

*/

.features__container {
    position: absolute;
    left: 120px;
    background: white;
    width: 1200px;
    padding: 16px 20px;
    margin-top: 587px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.feature__container {
    width: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature__img--container {
    width: 100%;
}

.feature__img{
    width: 100%;
}

.feature_c1 {
    width: 60px;
    height: 60px;
    border: 5px white solid;
    border-radius: 50%;
    background-color: #b60101;
    bottom: 130px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature__icon {
    color: white;
    font-size: 32px;
    line-height: 60px;
    text-align: center;
}

.feature__title {
    width: 200px;
    font-size: 24px;
    margin-top: 40px;
}

.feature__title,
.feature__sub-title {
    text-align: center;  
    color: black;
}

/*

Schedule Section

*/

.schedule {
    background-color: #e5e5e5;
}

.section__head{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.schedule__title {
    margin-top: 220px;
    margin-bottom: 32px;
    font-size: 32px;
    font-weight: 200;
}

.schedule__max-title {
    margin-bottom: 32px;
    font-size: 48px;
    font-weight: 200;
}

.schedules{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.schedule__container{
    width: 30%;
    margin-bottom: 32px;
}

.schedule__head {
    background-color: #b60101;
    color: white;
    padding: 8px 12px;
    display: flex;
    justify-content: space-between;
    border-radius: 8px 8px 0 0;
}

.schedule__bar{
    background-color: white;
    padding: 8px 12px;
    border-bottom: 1px solid rgb(200, 200, 200);
    color: #b60101;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.schedule__bar:last-child{
    border-bottom: 0;
    border-radius: 0 0 8px 8px;
}

/*

Principles

*/

.h {
    height: 60%;
}

.prince {
    position: relative;
    background-color: #e5e5e5;
}

.principles__container {
    position: absolute;
    top: 50px;
    left: 120px;
}

.principle__title {
    margin-bottom: 18px;
    font-size: 32px;
    font-weight: 200;
    color: white;
}

.principle__max-title {
    margin: 0 0 32px 24px; 
    font-size: 48px;
    font-weight: 200;
    color: #FFF;
}

.principles{
    width: 100%;
    display: flex;
    gap: 52px;
}

.principle__box{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.principle__icon {
    font-size: 84px;
    color: #B60100;
    margin-right: 24px;
}

.principle__box2 {
    width: 250px;
    color: white;
}

.principle__text--title {
    font-size: 24px;
    margin-bottom: 8px;
}

.principle__text--sub {
    font-size: 16px;
}

.principle__name {
    margin-bottom: 18px;
}

.principle__descr {
    width: 250px;
}




/*

ATHLETHE CONTAINER

*/

.Athlethe__container {
    width: 92%;
    position: absolute;
    top: 350px;
}

.athlete__box {
    display: flex;
    flex-direction: row-reverse;
}

.athlete__img--container {
    width: 50%;

}

.athlete__img {
    width: 100%;
}

.athlete__text--container {
    width: 50%;
    padding: 50px;
    background-color: #fff;
}

.athlete__text--title {
    font-size: 48px;
    font-weight: 200;
    margin-bottom: 24px;
    background-color: #fff;
}

.athlete__text--sub {
    font-size: 24px;
    margin-bottom: 16px;
}

.grey {
    color: grey;
}

.athlete__text--text {
    font-size: 20px;
    width: 500px;
    font-style: italic;
}

/*

Coaches SECTION

*/

.coach__section{
    background-color: #e5e5e5;
}

.team__max-title {
    margin-top: 250px;
    margin-bottom: 32px;
    font-size: 48px;
    font-weight: 200;

}

.team__sub-title {
    width: 600px;
    text-align: center;
    margin-bottom: 64px;
    font-size: 20px;
    font-weight: 300;
    color: #333;
    margin-bottom: 48px;
}

.coachs__container {
    max-width: 1200px;
    padding: 16px 20px;
    display: flex;
    justify-content: space-between;
}

.coach__container {
    width: 23%;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    background: white;
}

.coach__img--container {
    width: 100%;
}

.coach__img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}


.coach__title {
    width: 200px;
    font-size: 24px;
    margin-top: 14px;
    font-weight: 100;
}

.coach__name {
    width: 200px;
    font-size: 24px;
    margin-top: 14px;
}

.coach__description {
    font-size: 14px;
    padding: 16px 8px 20px 8px;
    color: #555;
}

.coach__title,
.coach__name,
.coach__description {
    text-align: center;  
    color: black;
}


/*

Quote Section 

*/

.quote__section{
    background-color: #B60100;
}


.quote__container {
    display: flex;
    justify-content: space-between;
    padding: 50px 24px;
}

.quote__text {
    font-size: 32px;
    font-weight: 900;
    color: #eb0202;
}

.quote__author {
    font-size: 24px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

/*

Footer Styles


*/
footer{
    position: relative;
    width: 100%;
    height: 400px;
}

.footer__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__img--container {
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.footer__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer__overlay {
    position: absolute;
    top: 0;
    left: 120px;
    width: 100%;
    height: 350px;
    padding: 24px;
}

.footer__logo--sub-text {
    font-size: 24px;
    font-weight: 200;
    margin-bottom: 8px;
    color: white;
}


.footer__logo--text {
    font-size: 64px;
    margin-bottom: 24px;
}

.footer__two {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
}

.footer__link {
    margin-bottom: 14px;
    font-weight: 700;
}

.footer__link--anchor {
    color: #B60100;
}

.footer__social--links {
    display: flex;
    margin-top: 24px;
    flex-direction: row;
    gap: 24px;
}

.social--link {
    color: #b60101;
    font-size: 24px;
}

@media (max-width: 1189px) {
    .footer__overlay {
        left: 0;
    }

    .principles__container {
        left: 0;
    }
    .features__container {
        left: 24px;
        width: calc(100% - 48px);
    }

    .principles {
        gap: 24px;
        display: flex;
        flex-wrap: wrap;
    }

    .athlete__box{
        margin-top: 100px;
    }

    .team__max-title {
        margin-top: 400px;
    }

    .athlete__text--text{
        width: 400px;
    }
    .athlete__img--container {
        height: 600px;
    }
    .athlete__img {
        height: 100%;
        object-fit: cover;
    }

}

@media (max-width: 900px) {
    .header__text__2 {
        font-size: 64px;
    }
    .header__button {
        padding: 16px 32px;
        font-size: 16px;
    }
    .h{
        height: 1000px;
    }
    .schedule{
        padding-top: 400px;
    }    
    .schedule__container{
        width:45%;
    }
    .features__container {
        display: flex;
        flex-wrap: wrap;
    }
    .feature__container {
        width: 45%;
        margin-bottom: 24px;
    }
    .feature_c1 {
        display: none;
    }
    .principles{
        flex-direction: column;
        align-items: center;
    }
    .athlete__text--title{
        font-size: 36px;
    }
    .athlete__text--sub{
        font-size: 20px;
    }
    .athlete__text--text{
        width: 230px;
        font-size: 16px;
    }
    .Athlethe__container{
        left: 30px;
        top: 800px;
    }
    .athlete__img--container {
        height: 700px;
    }
    .athlete__img {
        height: 100%;
        object-fit: cover;
    }

    .team__max-title {
        margin-top: 550px;
    }
    .principles__container {
        left: 30%;
    }
    .principle__title{
        text-align: center;
    }
    .principle__box {
        flex-direction: column;
    }
    .principle__icon{
        font-size: 52px;
        margin: 0;
    }
    .principle__max-title {
        margin: 0 0 32px 0;
    }
    .principle__box2 {
        text-align: center;
        margin-top: 24px;
    }
    .h2 {
        height: 1000px;
    }
    .coachs__container {
        flex-wrap: wrap;
        gap: 24px;
    }
    .coach__container {
        width: 48%;
    }
    .quote__container {
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }
    .quote__text{
        text-align: center;
        font-size: 24px;
    }
    .coachs__container{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 606px) {
    .coach__container {
        width: 100%;
    }
    .athlete__box{
        display: flex;
        flex-direction: column-reverse;
    }
    .athlete__img--container,
    .athlete__text--container {
        width: 100%;
        height: 400px;
    }
    .athlete__text--text {
        width: 100%;
        font-size: 16px;
        text-align: center;
    }
    .principles__container {
        left: 30%;
    }
    .principles__container{
        left: 20%;
    }
    .team__max-title {
        margin-top: 700px;
    }
}

@media (max-width: 596px) {
    .details__container{
        display: none;
    }
    .nav__social--links {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .nav__link--list {
        display: none;
    }
    .btn__menu {
        display: block;
    }
    .logo__text,
    .footer__logo--text {
        font-size: 36px;
        color: #000000;
    }
    .logo__sub-text,
    .footer__logo--sub-text {
        font-size: 18px;
        color: #000000;
    }
    .header__text__1,
    .schedule__title,
    .principle__title {
        font-size: 32px;

    }
    .header__text__2,
    .schedule__max-title,
    .principle__max-title,
    .team__max-title {
        font-size: 48px;
    }
    .team__sub-title {
        width: 100%;
        font-size: 16px;
    }
    .coachs__container {
        flex-direction: column;
        align-items: center;
    }
    .coach__container {
        width: 100%;
    }
    .athlete__text--sub{
        font-size: 18px;
        text-align: center;
    }
    .athlete__text--title{
        font-size: 28px;
        text-align: center;
    }
    .athlete__text--container{
        padding: 24px;
    }
    .schedule__container{
        width:100%;
    }
}

@media (max-width: 500px) {
    .schedule{
        padding-top: 1200px;
    }  
    .schedule__max-title,
    .header__text__2{
        text-align: center;
    }
    .features__container {
        display: flex;
        flex-wrap: wrap;
    }
    .feature__container {
        width: 100%;
        margin-bottom: 24px;
    }
    .principles__container{
        left: 15%;
    }
}